{% extends 'base.twig' %}

{% block title %}{{ formTitle }}{% endblock %}
{% block content %}
    <section class="section">


        {% if game_deals is empty%}
            {% if isMyGames %}
                <h1 class="title is-1">No games purcased yet :(</h1>

            {%  elseif isWishlist%}
                <h1 class="title is-1">No games saved yet :(</h1>

            {% endif %}
            <a href="{{ store_href }}">Click here to go to the store</a>
        {% else %}
            <h1 class="title is-1">{{ formTitle }}</h1>
            <h2 class="subtitle ">{{ formSubtitle }}</h2>
        {% endif %}
        {% if flash_messages is not empty %}

            {% for notification in flash_messages %}
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <p>{{ notification }}</p>
                </div>
            {% endfor %}

        {% endif %}
        {% if game_deals %}

            {% set i = 0 %}
            {% if isMyGames %}
                {% set numberOfCols = 1 %}
                {% else %}

                    {% set numberOfCols = random(2,3) %}
            {% endif %}
            {% for deal in game_deals %}

                {% if i is divisible by(numberOfCols) %}
                    {% if i != 0 %}
                        </div>
                        {% if isMyGames %}
                            {% set numberOfCols = 1 %}
                        {% else %}

                            {% set numberOfCols = random(2,3) %}
                        {% endif %}
                    {% endif %}

                    <div class="tile is-ancestor" id="{{ numberOfCols }}">

                {% endif %}

                <div class="tile is-parent gameContainer">
                    <img class="tile is-child gameImage" src="{{ deal.thumbnail }}">

                    <div class="gameSpecs">
                        <div class="gameSpecsInside">


                            <div>
                                <h3 class="title white">{{ deal.title }}</h3>
                                <p class="subtitle white">{{ deal.price }}$</p>
                                {% if isMyGames %}
                                    <p class="subtitle white">Cheapest price ever {{ deal.cheapestPriceEver }}$</p>
                                    <p class="subtitle white">Metacritic Score: {{ deal.metacriticScore }}</p>
                                    <p class="subtitle white">Release year {{ deal.releaseDate|date('d - M - Y') }}</p>
                                {% endif %}
                            </div>

                            {% if not isMyGames %}
                            {% if deal.owned %}
                                <input type="submit" class="button" disabled value="Owned" style="align-self:flex-start">
                            {% else %}
                                <form action="{{ buyAction|replace({'1':deal.gameid})}}" method="POST" accept-charset="utf-8">
                                    <input type="submit" class="button is-success" value="Buy" style="align-self:flex-start">
                                </form>
                            {% endif %}
                            {% endif %}
                            <span class="icon {% if deal.wished %} negated {% endif%} star">
                                  <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                {% set i = i + 1 %}
            {% endfor %}

            </div>
        {% endif %}


{#        <div class="tabs is-fullwidth">#}
{#            <ul>#}
{#                <li>#}
{#                    <a class="notification is-warning">#}
{#                        <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>#}
{#                        <span>Previous games</span>#}
{#                    </a>#}
{#                </li>#}

{#                <li>#}
{#                    <a class="notification is-success">#}
{#                        <span>More games</span>#}
{#                        <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
    </section>
{% endblock %}